head{
	margin:0;
}

body{
	margin:0 ;
	background-color: #a3bbe0;
	font-family:sans-serif ;
}


#button{
	position:absolute;
	z-index:1;
	margin-top:40%;
	margin-left:40%;
	font-size:40px;
	opacity:0.5;
	background-color:none;
	
}

#logo{
	margin: 10px 0 0 10px;
	height:70px	;
	width:120px;
	padding:5px;
	border-radius:2px;
}

#background{
	height:800px;
	width:100%;
}

#navbar{
	opacity:0.9;
	display:block;
	padding-bottom:20px;
	background-color:grey;
	position:fixed;
	font-family: 'Varela Round', sans-serif;
	z-index:1;
	font-size:25px;
	
	
}
li{
	
	display:inline;
	padding:3px 25px;
	border-radius:5px;
	background-color: #0f1c30;
	margin:0px 110px;
	
}

a{
	position:relative;
	text-decoration:none;
	color:black;}

a:hover { 
	
	
	margin:-3px -25px -3px -25px;
	padding:3px 25px;	
	border-radius:5px;
	background-color: #b78d82;
	
}
}

#logo:hover{
	opacity:0.6;
	background-color:#ffffff;

}

h1,h3{
	margin-left:45%;
	color:#4f4507;
	font-family: 'Shadows Into Light', cursive;
	font-size:45px;
	
}

h2{
	margin-left:37%;
	color:#4f4507;
	font-family: 'Shadows Into Light', cursive;
	font-size:45px;
	
}

p{
	margin:10% 20%;
	color:#4f4507;
	
}

#headings{
	font-size:30px;
	
}

th{
	border:solid;
}

table{
	
	margin-left:20%;
	margin-bottom:10%;
	border:solid;
	color:#4f4507;
}

.social{
	margin: 5% 11.6%;	
	height:150px;
	width:150px;
	
}






#end {
	text-align:bottom;
	font-size:12px;
	margin:0 0 0 40%;
	color:black;
	
}
